body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1024px;
}

.img {
    float: left;
    shape-outside: polygon(55% 0, 64% 17%, 70% 32%, 81% 50%, 95% 78%, 100% 99%, 6% 99%, 0 88%, 1% 65%, 22% 53%, 34% 39%, 41% 23%);

}
.para {
    font-family: helvetica;
}