body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1024px;
}

.img {
    float: left;
    shape-outside: polygon(55% 0, 64% 17%, 70% 32%, 81% 50%, 95% 78%, 100% 99%, 19% 99%, 8% 98%, 4% 67%, 21% 63%, 26% 39%, 39% 25%);

}
.para {
    font-family: helvetica;
}